{{!-- <section id="blogPost" class="blogPost">
    <main href="/blogpost/">
      <section>
        <h3>{{blogPost}}</h3>
        <h6>Posted by {{blogPost.user.username}} on {{blogPost.date}}</h6>
      </section>
      <section>
        <p>{{blogPost.content}}</p>
      </section>
    </main>
</section> --}}

<div>{{blogPost.id}}</div>