<div class="pageTitle">
  <h2>My Posts</h2>
  <div class="newPostBtn">
    <button><a class="link" href="/new">+ New Post</a></button>
  </div>
</div>
<section id="blogPosts" class="blogPostContainer">
  {{#each blogPosts as |blogPost|}}
  <main class="blogPosts">
    <a href="/blogpost/{{blogPost.id}}">
      <section class="blogTitle">
        <h3>{{blogPost.title}}</h3>
        <h5> Posted on {{dateFormat blogPost.createdAt}}</h5>
      </section>
      <section class="blogContent">
        <p>{{blogPost.content}}</p>
      </section>
    </a>
    <footer class="icons">
      <button id="editBtn" onclick="getEditBlogPost('{{blogPost.id}}')">
        <img src="/images/pencil_icon.png" align="center" width="20px" height="20px" alt="edit icon">
      </button>
      <button id="deleteBtn" onclick="deleteBlogPost('{{blogPost.id}}')">
        <img src="/images/bin_icon.png" align="center" width="15px" height="22px" alt="delete icon">
      </button>
    </footer>
    <br>
  </main>
  <br>
  <br>
  <br>
  {{/each}}
</section>

<script src="js/dashboard.js"></script>