<section id="blogPosts" class="blogPosts">
    <h2>Your Posts</h2>
    {{#each blogPosts as |blogPost|}}
      <main>
        <section>
          <h3>{{blogPost.title}}</h3>
          <h4>{{blogPost.content}}</h4>
          <h6> Posted on {{blogPost.date}}</h6>
        </section>
        <footer>
            <button id="editBtn" onclick="getJobForm('{{blogPost.id}}')">
              <img src="/images/pencil_icon.png" align="center" width="20px" height="20px" alt="edit icon">
            </button>
            <button id="deleteBtn" onclick="deleteCard('{{{blogPost.id}}}')">
              <img src="/images/bin_icon.png" align="center" width="15px" height="22px" alt="delete icon">
            </button>
        </footer>
      </main>
    {{/each}}
  </section>
<script src="js/dashboard.js"></script>

<button type="submit" class="btn"><a class="link" href="/new">+ New Post</a></button>
