<div class="pageTitle">
  <h2>Featured Posts</h2>
  <div class="newPostBtn">
    <button><a class="link" href="/new">+ New Post</a></button>
  </div>
</div>
<section id="blogPosts" class="blogPostContainer">
  {{#each blogPosts as |blogPost|}}
  <div class="blogPosts">
    <a href="/blogpost/{{blogPost.id}}">
      <section class="blogTitle">
        <h3>{{blogPost.title}}</h3>
        <h5>Posted by {{blogPost.user.username}} on {{dateFormat blogPost.createdAt}}</h5>
      </section>
      <section class="blogContent">
        <p>{{blogPost.content}}</p>
      </section>
    </a>
  </div>
  <br>
  <br>
  <br>
  {{/each}}
</section>