<section id="blogPost" class="blogPostContainer">
  <main class="blogPosts">
    <section class="blogTitle">
      <h3>{{blogPost.title}}</h3>
      <h5>Posted by {{blogPost.user.username}} on {{dateFormat blogPost.createdAt}}</h5>
    </section>
    <section class="blogContent">
      <p>{{blogPost.content}}</p>
    </section>
    <footer class="icons">
      {{#ifCond blogPost.user.username '==' loginUser.username}}
      <button onclick="getEditBlogPost('{{blogPost.id}}')">
        <img src="/images/pencil_icon.png" align="center" width="20px" height="20px" alt="edit icon">
      </button>
      <button onclick="deleteBlogPost('{{blogPost.id}}')">
        <img src="/images/bin_icon.png" align="center" width="15px" height="22px" alt="delete icon">
      </button>
      {{/ifCond}}
    </footer>
    <br>
  </main>
</section>
<h4>Comments:</h4>
{{#each blogPost.comments as |comment|}}
<section class="commentContainer">
  <main id="card_{{comment.id}}" class="blogPosts">
    <section class="commentTitle">
      <h5>
        {{comment.user.username}} posted comment on {{dateFormat comment.created_at}}
      </h5>
      {{#ifCond comment.user.username '==' ../loginUser.username}}
      <footer class="icons">
        <button id="editBtn_{{comment.id}}" onclick="editComment('{{comment.id}}')">
          <img src="/images/pencil_icon.png" align="center" width="20px" height="20px" alt="edit icon">
        </button>
        <button id="deleteBtn_{{comment.id}}" onclick="deleteComment('{{comment.id}}')">
          <img src="/images/bin_icon.png" align="center" width="15px" height="22px" alt="delete icon">
        </button>
        <button id="saveEditBtn_{{comment.id}}" onclick="saveEditComment('{{comment.id}}')" style="display: none;">
          <img src="/images/save.png" align="center" width="16px" height="18px" alt="delete icon">
        </button>
        <button id="cancelBtn_{{comment.id}}" onclick="cancelEditComment('{{comment.id}}')" style="display: none;">
          <img src="/images/close.png" align="center" width="16px" height="18px" alt="delete icon">
        </button>
      </footer>
      {{/ifCond}}
    </section>
    <section class="commentContent">
      <p id="textArea_{{comment.id}}" disabled="true">{{comment.content}}</p>
    </section>
  </main>
  <br>
  <br>
</section>
{{/each}}
<section class="commentSection">
  <h4>Make a comment:</h4>
  <form>
    <textarea id="commentContent"></textarea>
    <br>
    <br>
    <button class="btn" onclick="postComment('{{blogPost.id}}')">Post Comment</button>
  </form>
</section>
<script src="/js/blogPost.js"></script>